body {
    max-width: 42em;
    margin: auto;
    background-color: Papayawhip;
}
p {
    max-width: 40em;
}
h1 {
    font-size: 15pt;
    color:brown;
    text-align: center;
}
figcaption {
    font-style: italic;
    display: table-caption;
    caption-side: bottom;
    color:brown;
    font-size: 90%;
}
figure {
    float: right;
    display: table;
}
a:link, a:visited {
    color: inherit;
}
a:hover, a:active {
    background-color: green;
    color: yellow;
}
